labIct.controller("EquipsCtrl", ["$scope", "$filter", "EquipsService", function($scope, $filter, EquipsService) {
    
    $scope.numeroRegistros = 5;
    $scope.equipament = {};
    $scope.equipaments = [];
    $scope.paginaAtual = 0;
    $scope.equip_json = equip_json;
    $scope.temErros = false;

    $scope.numeroPaginas =function(){
      return Math.ceil($scope.equipaments.length/$scope.numeroRegistros);                
    }

    $scope.cadastrar = function() {
      if ($scope.form_equipament.$valid) {
        EquipsService.cadastrar($scope.equipament).success(function(data){
          if(data.errors){
            $scope.temErros = true;
            var divErros = angular.element("#divErros");
            var newLi = angular.element("<li>"+data.errors+"</li>");
            divErros.append(newLi);
          }else{
            window.location = "/equips";
          }
        }).error(function (response){
            alert(response.responseText);
        });
      }
      $scope.temErros = false;
    }

    $scope.deletar = function (id) {

      if (window.confirm("Tem certeza que deseja excluir? ")) {
        EquipsService.deletar(id).success(function(){
          $scope.equipaments = $scope.equipaments.filter(function( obj ) {
              return obj.id !== id;
          });
          $scope.paginaAtual = 0;
        }).error(function (xhr, err) {
          //Configurar mensagem de erro ao usuário
          console.log(err);
        });
      }
    }

    $scope.editar = function () {
      if ($scope.form_equipament.$valid) {
        EquipsService.editar($scope.equipament).success(function(data){
          if(data.errors){
            $scope.temErros = true;
            var divErros = angular.element("#divErros");
            var newLi = angular.element("<li>"+data.errors+"</li>");
            divErros.append(newLi);
          }else{
            window.location = "/equips";
          }
        }).error(function (erros) {
          //Configurar mensagem de erro ao usuário
          alert("deu erro nessa budega");
        });
      }
      $scope.temErros = false;
    }

    $scope.listar = function () {
      EquipsService.listar().success(function (equips) {
        $scope.equipaments = equips;
      }).error(function (erros) {
        //Configurar mensagem de erro ao usuário
        alert("deu erro nessa budega");
      });
    }

    $scope.carregar = function (equipament) {
      $scope.equipament.id = equipament.id;
      $scope.equipament.name = equipament.name;
      $scope.equipament.cost =  $filter('currency')(equipament.cost, "");
      $scope.equipament.model = equipament.model;
      $scope.equipament.patrimony_id = equipament.patrimony_id;
    }

    $scope.listar();
}]);