<%= form_for(@equip) do |f| %>
<% if @equip.errors.any? %>
  <div id="error_explanation">
        <h2><%= pluralize(@equip.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @equip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
  </div>
<% end %>
<script>
    equip_json = <%= @equip.to_json.html_safe %>
</script>

<div id="divErros" ng-show="temErros" class="alert alert-error alert-block"></div>

<div class="form-group">
  <label class="col-sm-3 control-label">Nome:</label>
  <div class="col-sm-9">
    <input type="text" ng-model="equipament.name" name="name" required class="form-control" placeholder="Nome do equipamento" /> 
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">Modelo:</label>
  <div class="col-sm-9">
    <input type="text" ng-model="equipament.model" name="model" required class="form-control" placeholder="Modelo do equipamento" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">Patrimônio:</label>
  <div class="col-sm-9">
     <input type="text" ng-model="equipament.patrimony_id" name="patrimony" required class="form-control" placeholder="Código do patrimônio do equipamento" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">Valor Hora:</label>
  <div class="col-sm-9">
    <input type="text" ng-model="equipament.cost" name="cost" required class="form-control" placeholder="Valor hora do equipamento" />
  </div>
</div>
<div class="form-group">
  <div style="text-align:center">
    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="form_equipament.$invalid"><span class="fa fa-save"></span> Salvar </button>
  </div>
</div>

<% end %>
