<%= form_for(@equip) do |f| %>
<% if @equip.errors.any? %>
  <div id="error_explanation">
        <h2><%= pluralize(@equip.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @equip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
  </div>
<% end %>
<script>
    equip_json = <%= @equip.to_json.html_safe %>
</script>


<div class="alert alert-error bg-danger" ng-show="form_equipament.name.$dirty && form_equipament.name.$invalid">
  <div ng-show="form_equipament.name.$error.required"> Preencha o campo nome</div>
</div>

<div class="alert alert-error bg-danger" ng-show="form_equipament.model.$dirty && form_equipament.model.$invalid">
  <div ng-show="form_equipament.model.$error.required"> Preencha o campo modelo</div>
</div>

<div class="alert alert-error bg-danger" ng-show="form_equipament.patrimony.$dirty && form_equipament.patrimony.$invalid">
  <div ng-show="form_equipament.patrimony.$error.required"> Preencha o campo patrimônio</div>
</div>

<div class="alert alert-error bg-danger" ng-show="form_equipament.cost.$dirty && form_equipament.cost.$invalid">
  <div ng-show="form_equipament.cost.$error.required"> Preencha o campo valor hora</div>
</div>



<div class="form-group">
  <label class="col-sm-3 control-label">Nome:</label>
  <div class="col-sm-9">
    <input type="text" ng-model="equipament.name" name="name" required class="form-control" /> 
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">Modelo:</label>
  <div class="col-sm-9">
    <input type="text" ng-model="equipament.model" name="model" required class="form-control" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">Patrimônio:</label>
  <div class="col-sm-9">
     <input type="text" ng-model="equipament.patrimony_id" name="patrimony" required class="form-control" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">Valor Hora:</label>
  <div class="col-sm-9">
    <input type="text" ng-model="equipament.cost" name="cost" required class="form-control" />
  </div>
</div>
<div class="form-group">
  <div style="text-align:center">
    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="form_equipament.$invalid"><span class="fa fa-save"></span> Salvar </button>
  </div>
</div>

<% end %>
