<%= javascript_include_tag "equips" %>

<script>
  equip_json = {};
</script>

<div id="breadcrumb" class="col-xs-12">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Equipamentos', equips_path %></li>
  </ol>
</div>

<div class="row" ng-controller="EquipsCtrl">
  <div class="col-sm-12">

      <div style="text-align:center" class="container row">
        <%= link_to new_equip_registration_path, :class=>"btn btn-primary"  do %>
          <i class="fa fa-plus"></i> Adicionar
        <% end %>
      </div>

      <div class="container row">
        <label>Mostrar:</label>
        <select ng-model="numeroRegistros">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value={{equipaments.length}}>Todos</option>
        </select>
        <label>Registros</label>
      </div>

      <table class="table table-striped table-bordered table-hover table-heading no-border-bottom">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Modelo</th>
            <th>Patrimônio</th>
            <th>Valor hora</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="equip in equipaments | startFrom:paginaAtual*numeroRegistros | limitTo:numeroRegistros">
            <td>{{ equip.name }}</td>
            <td>{{ equip.model }}</td>
            <td>{{ equip.patrimony_id }}</td>
            <td>{{ equip.cost | currency }}</td>
            <td class="centralizar"><a href="/equips/{{equip.id}}/edit"><i class="fa fa-pencil"></i></a></td>
            <td class="centralizar"><a href="#" ng-click="deletar(equip.id)"><i class="fa fa-trash-o"></i></a></td>
          </tr>
        </tbody>
      </table>

      <div class="row" style="text-align:center">
        <button ng-disabled="paginaAtual == 0" ng-click="paginaAtual=paginaAtual-1"><<</button>
        {{paginaAtual+1}}/{{numeroPaginas()}}
        <button ng-disabled="paginaAtual >= equipaments.length/numeroRegistros - 1" ng-click="paginaAtual=paginaAtual+1">>></button>
      </div>

  </div>
</div>

