<%= javascript_include_tag "equips" %>

<div ng-controller="EquipsCtrl">
  <div id="breadcrumb" class="col-xs-12">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Equipamentos', equips_path %></li>
      <li style="color:#d8d8d8">Cadastrar</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form name="form_equipament" novalidate ng-submit="cadastrar()">
        <%= render 'form' %>
      </form>
    </div>
  </div>
</div>
